* {
    box-sizing: border-box;
    color: #666;
    margin-bottom: 4px;
}

body {
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    margin: auto;
    width: 100%;
}


/* Style the header */

header {
    margin-top: 20px;
    margin-left: 20%;
    padding-left: 20px;
    padding-bottom: 30px;
    border-bottom: solid 1px lightseagreen;
}

header h1 {
    color: lightseagreen;
}

/* Create two columns/boxes that floats next to each other */

nav {
    background-color: #222;
    position: fixed;
    top: 0;
    float: left;
    width: 20%;
    font-size: 80%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    line-height: 2px;
    z-index: 1000;
}

/* Style the list inside the menu */

nav li {
    list-style-type: none;
    padding: 0;
}

.linha-vertical{
    margin-left: 22%;
    border-left: dotted 3px #999;
    height: 100%;
    z-index: -1001;
}

.content{
    list-style-type: none;
    padding-left: 11px;
    height: 100%;
    width: 80%;
}

.titulo{
    position: relative;
    background-image: url('../images/sphere.png');
    background-repeat: no-repeat;
    background-size:30px;
    text-indent: 30px;
    left: -29px;
    padding-left: 10px;
    z-index: 1001;
}

.striped{
    background-color: #f0f0f0;
    padding: 10px;
}

.notstriped{
    background-color: #ffffff;
    padding: 10px;
}

.details{
    text-indent: 10px;
}


/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    color: lightseagreen;
    padding-bottom: 20px;
}

nav a {
    color: lightseagreen;
    line-height: 30px;
}

nav a:link {
    text-decoration: none;
    color: lightseagreen;
}

nav a:hover {
    text-decoration: none;
    color: greenyellow;
}

.requo li {
    font-size: 100%;
    list-style-type: disc;
}


.box {
    margin-left: -40px;
    margin-bottom: 20px;
    padding: 10px;
    border: dashed 0px;
    background-color: #f0f0f0;
}

.justify {
    text-align: justify;
}

th {
    text-align: right
}

.title {
    font-size: 150%;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.indent {
    text-indent: 2%
}

strong {
    color: gray
}

hr {
    padding-top: 4px;
    padding-bottom: 4px;
    border: dashed 0px #c0c0c0;
}

small {
    color: #777;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

p,
li {
    line-height: 20pt;
    list-style-type: disc;
}

/* Style the footer */

footer {
    position: relative;
    color: #999;
    margin-left: 2%;
    margin-bottom: 1%;
}

footer a {
    color: #fff !important;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px),
print {
    .linha-vertical{
        margin-left: 10%;
        border-left: dotted 3px #999;
        height: 100%;
    }    
    header {
        margin: auto;
        padding-left: 4%;
        padding-right: 4%;
    }
    article {
        margin: auto;
        padding-left: 1%;
        padding-right: 1%;
        width: 100%;
        height: auto;
    }
    nav {
        display: none !important;
    }
    footer {
        width: 100%;
        margin: auto;
        padding: 2%;
    }
    div,
    .page {
        page-break-inside: avoid;
    }
    .titulo{
        left: -32px;
    }
    #pdf-version,
    #placeholder {
        display: none;
    }
    #counter {
        display: none;
    }
}
